<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span class="menu-spacer">&nbsp;</span>
        <span> xRM </span>
        <span class="menu-spacer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-start'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <nav mat-tab-nav-bar color="warn">
                    <a mat-tab-link *ngFor="let link of links"
                    [routerLink]="link.path"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive"> {{ link.label }} </a>
                </nav>
            </ul>
        </div>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='10px'>
                <li><button mat-icon-button><mat-icon>home</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>search</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>settings_application</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>print</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>help</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>account_box</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>exit_to_app</mat-icon></button></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>