<mat-toolbar color="primary" >
    <mat-toolbar-row class="_mat-tool-bar-row">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span class="menu-spacer">&nbsp;&nbsp;</span>
        <span> xAny </span>
        <span class="menu-spacer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-start'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li><a mat-button routerLink="/customer" routerLinkActive="active">Customer</a></li>
                <li><a mat-button routerLink="/employee">Employee</a></li>
                <li><a mat-button routerLink="/reports">Reports</a></li>
            </ul>
        </div>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='10px'>
                <li><button mat-icon-button><mat-icon>home</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>search</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>settings_application</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>print</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>help</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>account_box</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>exit_to_app</mat-icon></button></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
