<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span class="menu-spacer">&nbsp;&nbsp;</span>
        <span> xAny </span>
        <span class="menu-spacer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-start'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li><a mat-button>Customer</a></li>
                <li><a mat-button>Analytics</a></li>
                <li><a mat-button>Reports</a></li>
            </ul>
        </div>

        <div fxFlex fxFlexLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='10px'>
                <li><button mat-icon-button><mat-icon>search</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>settings</mat-icon></button></li>
                <li><button mat-icon-button><mat-icon>help_outline</mat-icon></button></li>
                <li>menu</li>
            </ul>
        </div>
    
    </mat-toolbar-row>
     
</mat-toolbar>