<div fxFlex fxFlexLayout='row'>
    <span class="menu-spacer">&nbsp;</span>

    <button mat-icon-button><mat-icon><a routerLink="/customer/search" routerLinkActive="active">person</a></mat-icon></button>
    <button mat-icon-button><mat-icon><a routerLink="/customer/add" routerLinkActive="active">person_add</a></mat-icon></button>
    <button mat-icon-button><mat-icon>attach_money</mat-icon></button>
    <button mat-icon-button><mat-icon>event_available</mat-icon></button>
    <button mat-icon-button><mat-icon>hotel</mat-icon></button>
    <button mat-icon-button><mat-icon>local_pharmacy</mat-icon></button>
    
</div>

