<div fxFlex fxFlexLayout='row'>
    <span class="menu-spacer">&nbsp;</span>

    <button mat-icon-button><mat-icon>people</mat-icon></button>
    <button mat-icon-button><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button><mat-icon>attach_money</mat-icon></button>
    <button mat-icon-button><mat-icon>event_available</mat-icon></button>
    <button mat-icon-button><mat-icon>hotel</mat-icon></button>
    <button mat-icon-button><mat-icon>local_pharmacy</mat-icon></button>
    <hr/>
    <button mat-icon-button><mat-icon>image</mat-icon></button>
    <button mat-icon-button><mat-icon>transform</mat-icon></button>
    <button mat-icon-button><mat-icon>camera_front</mat-icon></button>
    <hr/>
    <button mat-icon-button><mat-icon>bar_chart</mat-icon></button>
    <button mat-icon-button><mat-icon>notifications_active</mat-icon></button>
    <button mat-icon-button><mat-icon>local_offer</mat-icon></button>
    <button mat-icon-button><mat-icon>mail_outline</mat-icon></button>
</div>

